#  Data Cleaning &  Analysis

In [6]:
#load the libraries
import pandas as pd

In [7]:
data = pd.read_csv("data_clean.csv")# reading csv file

In [8]:
# write a code with absolute path

In [9]:
databkup=data

In [10]:
data.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [11]:
data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [12]:
data.tail(10)

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
148         149   30.0    193.0   6.9     70     9   26  2010    70       C
149         150    NaN    145.0  13.2     77     9   27  2010    77      PS
150         151   14.0    191.0  14.3     75     9   28  2010    75       S
151         152   18.0    131.0   8.0     76     9   29  2010    76      PS
152         153   20.0    223.0  11.5     68     9   30  2010    68       S
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

In [13]:
#Data Structure 
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(158, 10)

In [14]:
data.shape # show dimension 158 rows and 10 columns

(158, 10)

In [15]:
#data types
data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [16]:
data.describe() # display statistics but only for numeric

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

### This is comment

# Data type conversion

## Convert String to datetime

In [17]:
import pandas as pd
from datetime import datetime

# Input string
date_string = "28 January 2024"

# Convert string to datetime using pandas
pd_dt = pd.to_datetime(date_string)
print(pd_dt)
print(date_string)

2024-01-28 00:00:00
28 January 2024

In [18]:
# Format the datetime object using strftime
formatted_date = pd_dt.strftime("%d/%b/%Y")

print("Original String:", date_string)
print("Formatted Date:", formatted_date)

Original String: 28 January 2024
Formatted Date: 28/Jan/2024

# Drop columns

In [19]:
# Drop unnecessary column

In [20]:
data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [21]:
data.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [22]:
data=data.drop('Unnamed: 0',axis=1) # axis= 1 for column

In [23]:
# To check whether dropped or not
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    NaN      NaN  14.3     56     5    5  2010    56       S

In [24]:
databkup

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

## Apna time aayega -- Write a code to drop a column Temp C

In [25]:
data.head(6)

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    NaN      NaN  14.3     56     5    5  2010    56       S
5   28.0      NaN  14.9     66     5    6  2010    66       C

## How to check null values present in specific column or not

In [26]:
data['Month'].isnull().sum()

0

In [27]:
data['Ozone'].isnull()

0      False
1      False
2      False
3      False
4       True
       ...
153    False
154    False
155     True
156    False
157    False
Name: Ozone, Length: 158, dtype: bool

In [28]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    NaN      NaN  14.3     56     5    5  2010    56       S

In [29]:
data['Solar.R'].isnull().sum()

7

In [30]:
data['Temp'].isnull().sum()

0

In [31]:
data.isnull().sum() #  to display all columns  na count

Ozone      38
Solar.R     7
Wind        0
Temp C      0
Month       0
Day         0
Year        0
Temp        0
Weather     3
dtype: int64

## Missing Value Treatment

In [32]:
# Deleting the missing values - dropna()

In [33]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    NaN      NaN  14.3     56     5    5  2010    56       S

In [34]:
data.dropna(axis=0)

# all rows having na will be dropped , 
# Not recommended. use only when many columns having na in same row 
# or less than 10 % of data in large dataset or avoid in small size dataset

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     67     5    1  2010    67       S
1     36.0    118.0   8.0     72     5    2  2010    72       C
2     12.0    149.0  12.6     74     5    3  2010    74      PS
3     18.0    313.0  11.5     62     5    4  2010    62       S
6     23.0    299.0   8.6     65     5    7  2010    65      PS
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
152   20.0    223.0  11.5     68     9   30  2010    68       S
153   41.0    190.0   7.4     67     5    1  2010    67       C
154   30.0    193.0   6.9     70     9   26  2010    70      PS
156   14.0    191.0  14.3     75     9   28  2010    75       S
157   18.0    131.0   8.0     76     9   29  2010    76       C

[113 rows x 9 columns]

## imputing missing values fillna()

In [35]:
data.isnull().sum()

Ozone      38
Solar.R     7
Wind        0
Temp C      0
Month       0
Day         0
Year        0
Temp        0
Weather     3
dtype: int64

In [36]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    NaN      NaN  14.3     56     5    5  2010    56       S

In [37]:
data.isnull().sum() # to check how many na in each column

Ozone      38
Solar.R     7
Wind        0
Temp C      0
Month       0
Day         0
Year        0
Temp        0
Weather     3
dtype: int64

In [38]:
data['Ozone']=data['Ozone'].fillna(0)

In [39]:
data.isnull().sum()

Ozone      0
Solar.R    7
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [40]:
data.Ozone=data.Ozone.fillna(0) # fill na with 0

In [41]:
data.isnull().sum()

Ozone      0
Solar.R    7
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [42]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0    190.0   7.4     67     5    1  2010    67       S
1   36.0    118.0   8.0     72     5    2  2010    72       C
2   12.0    149.0  12.6     74     5    3  2010    74      PS
3   18.0    313.0  11.5     62     5    4  2010    62       S
4    0.0      NaN  14.3     56     5    5  2010    56       S

In [43]:
z=data['Solar.R'].mean()

In [44]:
print(z)

185.40397350993376

In [45]:
solar_mean=data['Solar.R'].mean()

In [46]:
data['Solar.R']=data['Solar.R'].fillna(solar_mean)

In [47]:
data.head()

   Ozone     Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0   41.0  190.000000   7.4     67     5    1  2010    67       S
1   36.0  118.000000   8.0     72     5    2  2010    72       C
2   12.0  149.000000  12.6     74     5    3  2010    74      PS
3   18.0  313.000000  11.5     62     5    4  2010    62       S
4    0.0  185.403974  14.3     56     5    5  2010    56       S

In [48]:
data.isnull().sum()

Ozone      0
Solar.R    0
Wind       0
Temp C     0
Month      0
Day        0
Year       0
Temp       0
Weather    3
dtype: int64

In [49]:
data_bkup.isnull().sum()

NameError: name 'data_bkup' is not defined

In [ ]:
# restart

In [ ]:
data.isnull().sum()

In [ ]:
data['Weather']

In [ ]:
type(data['Weather'].mode())

In [ ]:
z=data['Weather'].mode()
print(z)

In [ ]:
# z=data['Weather'].mode().iloc[0]
# print(z)

In [ ]:
data['Weather']=data['Weather'].fillna(z)

In [ ]:
data.isnull().sum() # to check na present in Weather fields

In [ ]:
data.to_csv('formated.csv')

### Extra code only for reference

## How to get original data or starting point data in data object ?

In [ ]:
data=data_bkup #

In [ ]:
data.head()

In [ ]:
data_temp=data.fillna(method='ffill')

In [ ]:
data_temp.head()

In [ ]:
data.head(5)

In [ ]:
data.dtypes

In [ ]:
# use method=bfill for backward fill

In [ ]:
data.isnull().sum()

# Rename the columns

In [ ]:
data.head()

In [ ]:
#rename the Solar column
data = data.rename({'Solar.R': 'Solar'}, axis=1) # 1 means column

In [ ]:
data

## Save dataframe(Modified data) to Files

In [ ]:
data.to_csv('formated.csv')