# üö¢ Predicting Titanic Survival Using Naive Bayes ‚ö°
### A Machine Learning Approach to Disaster Analysis


## Business Problem:  
**Can we predict survival outcomes using passenger demographics and socio-economic data?**  

This model isn‚Äôt just historical‚Äîit mirrors modern use cases like:  
- **Emergency Preparedness**: Prioritizing vulnerable groups (children, elderly) in evacuation plans.  
- **Bias Investigation**: Quantifying how *class, gender, and age* affected survival.  
- **Safety Benchmarking**: Evaluating if "women and children first" was truly followed.  

## Why Naive Bayes?  
- **Efficiency**: Handles large datasets with minimal computational power.  
- **Interpretability**: Outputs probabilities for clear decision-making.  
- **Baseline Model**: Perfect for establishing a performance benchmark before trying complex algorithms.  

## Key Workflow Steps:  
1. **Feature Selection**: Focused on `Pclass`, `Sex`, `Age`, and `Fare` (critical factors proven in historical analysis).  
2. **Data Prep**:  
   - Convert categorical data (e.g., `Sex` to 0/1).  
   - Handle missing values (e.g., median imputation for `Age`).  
3. **Model Evaluation**: Metrics like accuracy, precision, and recall to assess real-world usability.  

**Challenge to Audience**: *Could a passenger‚Äôs fare price indirectly reveal their survival odds? Let‚Äôs find out!*

### üö¢ Titanic Survival Dataset: Key Features for ML
### üìä Passenger Demographics & Survival Patterns

The Titanic dataset contains information about passengers aboard the RMS Titanic, with the following key features:

- **PassengerId**: Unique identifier for each passenger
- **Survived**: Binary indicator (0 = No, 1 = Yes)
- **Pclass**: Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
- **Name**: Passenger name (including title and family information)
- **Sex**: Gender (male/female)
- **Age**: Age in years (fractional for infants)
- **SibSp**: Number of siblings/spouses aboard
- **Parch**: Number of parents/children aboard
- **Ticket**: Ticket number
- **Fare**: Passenger fare
- **Cabin**: Cabin number (contains missing values)
- **Embarked**: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

This dataset is commonly used for predictive modeling tasks, particularly to predict passenger survival based on various attributes.

In [1]:
# Step 1: Import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB


from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

from sklearn.impute import SimpleImputer  # To handle missing values

In [3]:
#üì• Step 2: Load the Titanic Dataset

# Load dataset from GitHub

df = pd.read_csv('titanic.csv')

# Preview
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# üßπ Step 3: Select and Prepare Features  

### **Why These Features?**  
To predict survival, we need features that logically influence a passenger‚Äôs chance of survival. Here‚Äôs why we selected these:  
- **Pclass**: Wealthier passengers (1st class) had priority access to lifeboats.  
- **Sex**: The infamous *"women and children first"* policy affected survival rates.  
- **Age**: Children were prioritized during evacuation.  
- **Fare**: Correlates with class and potentially better deck locations.  

We dropped less impactful columns (like `PassengerId`, `Name`, or `Ticket`) to simplify our model.  

### **Key Preparation Step:**  
- Convert **categorical data (Sex)** to numeric (male=0, female=1) because Naive Bayes requires numerical inputs.  
- Missing values? We‚Äôll handle them next! *(Hint: Age has gaps!)*

In [4]:
#üßπ Step 3: Select and Prepare Features
# Select relevant columns
df_model = df[["Survived", "Pclass", "Sex", "Age", "Fare"]]

# Convert 'Sex' to numeric values
df_model["Sex"] = df_model["Sex"].map({"male": 0, "female": 1})

C:\Users\askpr\AppData\Local\Temp\ipykernel_4648\1313346142.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_model["Sex"] = df_model["Sex"].map({"male": 0, "female": 1})

In [5]:
df_model.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    0  22.0   7.2500
1         1       1    1  38.0  71.2833
2         1       3    1  26.0   7.9250
3         1       1    1  35.0  53.1000
4         0       3    0  35.0   8.0500

In [6]:
df_model.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [7]:
df_model.shape

(891, 5)

In [10]:
#ü©π Step 4: Handle Missing Values (Impute Age)

# Separate features (X) and target (y)
X = df_model.drop("Survived", axis=1)
y = df_model["Survived"]
X.head()

   Pclass  Sex   Age     Fare
0       3    0  22.0   7.2500
1       1    1  38.0  71.2833
2       3    1  26.0   7.9250
3       1    1  35.0  53.1000
4       3    0  35.0   8.0500

In [11]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [14]:

# Use SimpleImputer to fill missing Age with mean
imputer = SimpleImputer(strategy='mean')  # Mean imputation for numerical columns

X_imputed = imputer.fit_transform(X)


X_imputed[:10]

# What is SimpleImputer?
# SimpleImputer is a scikit-learn class that provides basic strategies for imputing missing values:

# It replaces missing values (NaN) with a specified strategy (mean, median, most_frequent, or constant)

# In your case, you're using strategy='mean' which replaces missing Age values with the mean age

array([[ 3.        ,  0.        , 22.        ,  7.25      ],
       [ 1.        ,  1.        , 38.        , 71.2833    ],
       [ 3.        ,  1.        , 26.        ,  7.925     ],
       [ 1.        ,  1.        , 35.        , 53.1       ],
       [ 3.        ,  0.        , 35.        ,  8.05      ],
       [ 3.        ,  0.        , 29.69911765,  8.4583    ],
       [ 1.        ,  0.        , 54.        , 51.8625    ],
       [ 3.        ,  0.        ,  2.        , 21.075     ],
       [ 3.        ,  1.        , 27.        , 11.1333    ],
       [ 2.        ,  1.        , 14.        , 30.0708    ]])

In [ ]:
# .fit(X)

# Computes the mean (or other chosen statistic) of each column but does not modify the data yet.

# Stores these computed values (e.g., mean age) for later use.

# .transform(X)

# Actually replaces missing values (NaN) in X with the computed mean (or other strategy).

# Returns a new array (X_imputed) where all missing values are filled.

# .fit_transform(X)

# A shortcut that combines fit() and transform() in one step.

# Computes the required statistics (mean) and applies them immediately.

In [15]:
# Now X_imputed is a NumPy array with no missing values

import numpy as np
np.isnan(X_imputed).any()

False

In [16]:
#‚úÇÔ∏è Step 5: Split into Train and Test Sets
# Train-test split (80% train, 20% test)

X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

In [19]:
# ü§ñ Step 6: Train Naive Bayes Classifier
# Initialize the classifier
nb_model = GaussianNB()

# Train on the training data
nb_model.fit(X_train, y_train)

GaussianNB()

In [17]:
X_test

array([[  3.        ,   0.        ,  29.69911765,  15.2458    ],
       [  2.        ,   0.        ,  31.        ,  10.5       ],
       [  3.        ,   0.        ,  20.        ,   7.925     ],
       [  2.        ,   1.        ,   6.        ,  33.        ],
       [  3.        ,   1.        ,  14.        ,  11.2417    ],
       [  1.        ,   1.        ,  26.        ,  78.85      ],
       [  3.        ,   1.        ,  29.69911765,   7.75      ],
       [  3.        ,   0.        ,  16.        ,  18.        ],
       [  3.        ,   1.        ,  16.        ,   7.75      ],
       [  1.        ,   1.        ,  19.        ,  26.2833    ],
       [  1.        ,   0.        ,  37.        ,  53.1       ],
       [  3.        ,   0.        ,  44.        ,   8.05      ],
       [  3.        ,   1.        ,  29.69911765,  25.4667    ],
       [  3.        ,   0.        ,  30.        ,   7.225     ],
       [  2.        ,   0.        ,  36.        ,  13.        ],
       [  1.        ,   1.        ,  16.        ,  39.4       ],
       [  1.        ,   0.        ,  42.        ,  52.5542    ],
       [  3.        ,   1.        ,  29.69911765,   7.8292    ],
       [  2.        ,   0.        ,  27.        ,  13.        ],
       [  1.        ,   0.        ,  47.        ,  52.        ],
       [  3.        ,   0.        ,  24.        ,   7.8958    ],
       [  1.        ,   0.        ,  34.        ,  26.55      ],
       [  3.        ,   1.        ,  19.        ,   7.8542    ],
       [  3.        ,   0.        ,  20.        ,   9.225     ],
       [  3.        ,   0.        ,  29.69911765,  14.5       ],
       [  3.        ,   0.        ,  10.        ,  27.9       ],
       [  1.        ,   0.        ,  40.        ,  27.7208    ],
       [  2.        ,   0.        ,  31.        ,  13.        ],
       [  3.        ,   0.        ,   4.        ,  27.9       ],
       [  3.        ,   1.        ,  31.        ,   7.8542    ],
       [  3.        ,   0.        ,  19.        ,   7.8958    ],
       [  3.        ,   1.        ,  22.        ,   7.75      ],
       [  1.        ,   0.        ,  29.69911765,  30.6958    ],
       [  3.        ,   1.        ,  29.69911765,   7.55      ],
       [  3.        ,   0.        ,  18.        ,   8.05      ],
       [  3.        ,   0.        ,  27.        ,  14.4542    ],
       [  1.        ,   0.        ,  28.        ,  35.5       ],
       [  3.        ,   1.        ,  29.69911765,   7.75      ],
       [  1.        ,   1.        ,  30.        ,  31.        ],
       [  3.        ,   0.        ,  29.69911765,   7.8958    ],
       [  2.        ,   0.        ,  21.        ,  73.5       ],
       [  3.        ,   0.        ,  29.        ,   7.0458    ],
       [  3.        ,   0.        ,  29.69911765,   8.05      ],
       [  3.        ,   0.        ,  29.69911765,   7.75      ],
       [  3.        ,   1.        ,  45.        ,  14.4542    ],
       [  3.        ,   0.        ,  16.        ,  34.375     ],
       [  3.        ,   0.        ,  19.        ,   8.1583    ],
       [  3.        ,   0.        ,  23.        ,   9.225     ],
       [  3.        ,   0.        ,  24.        ,   7.05      ],
       [  1.        ,   0.        ,  58.        , 113.275     ],
       [  3.        ,   1.        ,   5.        ,  19.2583    ],
       [  1.        ,   1.        ,  52.        ,  93.5       ],
       [  3.        ,   0.        ,  40.        ,  27.9       ],
       [  1.        ,   0.        ,  11.        , 120.        ],
       [  3.        ,   0.        ,  65.        ,   7.75      ],
       [  1.        ,   1.        ,  18.        ,  79.65      ],
       [  2.        ,   0.        ,  32.        ,  10.5       ],
       [  1.        ,   1.        ,  50.        , 247.5208    ],
       [  2.        ,   1.        ,  35.        ,  21.        ],
       [  3.        ,   1.        ,  19.        ,   7.8792    ],
       [  3.        ,   0.        ,  21.        ,   7.775     ],
       [  2.        ,   1.        ,  13.        ,  19.5       ],
       [  2.        ,   1.        ,  28.        ,  26.        ],
       [  1.        ,   0.        ,  29.69911765,  25.925     ],
       [  3.        ,   0.        ,  29.69911765,   7.75      ],
       [  2.        ,   1.        ,  57.        ,  10.5       ],
       [  2.        ,   0.        ,  21.        ,  73.5       ],
       [  3.        ,   0.        ,  29.        ,   7.875     ],
       [  3.        ,   0.        ,  17.        ,   7.2292    ],
       [  1.        ,   1.        ,  52.        ,  78.2667    ],
       [  2.        ,   1.        ,  26.        ,  26.        ],
       [  1.        ,   1.        ,  18.        , 262.375     ],
       [  1.        ,   0.        ,  26.        ,  30.        ],
       [  1.        ,   1.        ,  39.        ,  83.1583    ],
       [  3.        ,   0.        ,  23.        ,   7.8542    ],
       [  3.        ,   0.        ,  36.        ,  15.55      ],
       [  3.        ,   1.        ,  30.5       ,   7.75      ],
       [  1.        ,   1.        ,  22.        ,  49.5       ],
       [  2.        ,   1.        ,  38.        ,  13.        ],
       [  3.        ,   1.        ,  41.        ,  20.2125    ],
       [  3.        ,   0.        ,  16.        ,  39.6875    ],
       [  2.        ,   1.        ,  29.        ,  10.5       ],
       [  1.        ,   1.        ,  40.        , 134.5       ],
       [  3.        ,   0.        ,  29.69911765,   7.7375    ],
       [  1.        ,   0.        ,  56.        ,  30.6958    ],
       [  1.        ,   0.        ,  71.        ,  49.5042    ],
       [  1.        ,   1.        ,  31.        , 113.275     ],
       [  1.        ,   1.        ,  30.        ,  56.9292    ],
       [  1.        ,   0.        ,  38.        ,   0.        ],
       [  3.        ,   0.        ,  29.69911765,   7.25      ],
       [  3.        ,   0.        ,   9.        ,  20.525     ],
       [  3.        ,   1.        ,   9.        ,  31.275     ],
       [  1.        ,   0.        ,  61.        ,  32.3208    ],
       [  3.        ,   0.        ,  29.69911765,   7.7292    ],
       [  3.        ,   0.        ,  29.69911765,   7.8958    ],
       [  3.        ,   0.        ,  28.        ,   7.8542    ],
       [  1.        ,   0.        ,  48.        ,  52.        ],
       [  3.        ,   0.        ,  45.        ,   8.05      ],
       [  2.        ,   1.        ,  36.        ,  13.        ],
       [  3.        ,   0.        ,  27.        ,   7.8958    ],
       [  1.        ,   0.        ,  64.        ,  26.        ],
       [  3.        ,   0.        ,  35.        ,   7.125     ],
       [  1.        ,   1.        ,  19.        ,  91.0792    ],
       [  3.        ,   0.        ,  38.        ,   7.05      ],
       [  3.        ,   0.        ,  30.5       ,   8.05      ],
       [  3.        ,   0.        ,  25.        ,   7.775     ],
       [  2.        ,   1.        ,  40.        ,  39.        ],
       [  1.        ,   0.        ,  47.        ,  38.5       ],
       [  3.        ,   0.        ,  30.        ,   9.5       ],
       [  1.        ,   0.        ,  40.        ,  31.        ],
       [  1.        ,   1.        ,  29.69911765,  52.        ],
       [  3.        ,   0.        ,  20.5       ,   7.25      ],
       [  1.        ,   1.        ,  29.69911765,  89.1042    ],
       [  1.        ,   0.        ,  36.        ,  26.2875    ],
       [  1.        ,   0.        ,  29.69911765, 221.7792    ],
       [  3.        ,   0.        ,  20.        ,   9.8458    ],
       [  1.        ,   0.        ,  71.        ,  34.6542    ],
       [  2.        ,   0.        ,  36.        ,  12.875     ],
       [  2.        ,   1.        ,  22.        ,  29.        ],
       [  3.        ,   1.        ,  48.        ,  34.375     ],
       [  2.        ,   0.        ,  23.        ,  11.5       ],
       [  1.        ,   1.        ,  32.        ,  76.2917    ],
       [  1.        ,   1.        ,  63.        ,  77.9583    ],
       [  2.        ,   0.        ,   0.83      ,  29.        ],
       [  3.        ,   0.        ,  25.        ,   7.25      ],
       [  1.        ,   0.        ,  35.        ,  26.55      ],
       [  1.        ,   1.        ,  49.        ,  25.9292    ],
       [  1.        ,   0.        ,  24.        ,  79.2       ],
       [  3.        ,   1.        ,  29.69911765,  14.4583    ],
       [  3.        ,   0.        ,  21.        ,   8.05      ],
       [  3.        ,   1.        ,  29.69911765,   7.8792    ],
       [  3.        ,   0.        ,  29.69911765,  15.2458    ],
       [  2.        ,   0.        ,  29.69911765,   0.        ],
       [  3.        ,   1.        ,   5.        ,  12.475     ],
       [  1.        ,   0.        ,  49.        ,  56.9292    ],
       [  3.        ,   1.        ,  15.        ,  14.4542    ],
       [  1.        ,   1.        ,  29.69911765, 110.8833    ],
       [  3.        ,   0.        ,  29.        ,   7.775     ],
       [  3.        ,   0.        ,  42.        ,   7.55      ],
       [  3.        ,   1.        ,  18.        ,  17.8       ],
       [  3.        ,   0.        ,  21.        ,   8.4333    ],
       [  2.        ,   1.        ,  44.        ,  26.        ],
       [  2.        ,   0.        ,  28.        ,  13.        ],
       [  2.        ,   0.        ,  37.        ,  26.        ],
       [  3.        ,   1.        ,  39.        ,  29.125     ],
       [  2.        ,   1.        ,  34.        ,  32.5       ],
       [  2.        ,   0.        ,  30.        ,  13.        ],
       [  2.        ,   0.        ,  66.        ,  10.5       ],
       [  1.        ,   1.        ,  29.69911765, 146.5208    ],
       [  3.        ,   0.        ,  43.        ,   8.05      ],
       [  3.        ,   0.        ,  29.69911765,   8.7125    ],
       [  3.        ,   0.        ,  24.        ,   7.4958    ],
       [  3.        ,   0.        ,  18.        ,   7.7958    ],
       [  3.        ,   1.        ,  29.69911765,  24.15      ],
       [  3.        ,   0.        ,  29.69911765,   8.05      ],
       [  3.        ,   0.        ,  29.69911765,   7.05      ],
       [  3.        ,   0.        ,  29.69911765,  56.4958    ],
       [  3.        ,   1.        ,  29.69911765,   7.7875    ],
       [  2.        ,   1.        ,  36.        ,  26.        ],
       [  3.        ,   1.        ,  32.        ,  15.5       ],
       [  3.        ,   0.        ,  23.5       ,   7.2292    ],
       [  1.        ,   0.        ,  29.69911765,  26.55      ],
       [  2.        ,   0.        ,  39.        ,  13.        ],
       [  1.        ,   1.        ,  29.69911765,  82.1708    ],
       [  3.        ,   0.        ,  29.69911765,   8.4583    ],
       [  1.        ,   0.        ,  65.        ,  61.9792    ],
       [  2.        ,   0.        ,  23.        ,  10.5       ],
       [  1.        ,   1.        ,  29.69911765,  51.8625    ],
       [  3.        ,   0.        ,  22.        ,   7.8958    ],
       [  3.        ,   0.        ,  35.        ,   7.05      ],
       [  1.        ,   0.        ,  23.        ,  63.3583    ],
       [  2.        ,   1.        ,  18.        ,  13.        ],
       [  1.        ,   0.        ,  36.        ,  26.3875    ],
       [  3.        ,   1.        ,   9.        ,  15.2458    ],
       [  3.        ,   0.        ,  17.        ,   7.125     ],
       [  3.        ,   0.        ,  29.69911765,   7.225     ],
       [  3.        ,   1.        ,  38.        ,  31.3875    ],
       [  2.        ,   1.        ,  17.        ,  10.5       ],
       [  3.        ,   1.        ,   4.        ,  16.7       ]])

In [20]:
# üìä Step 7: Make Predictions and Evaluate
# Predict on test set
y_pred = nb_model.predict(X_test)

# Evaluation metrics
print("‚úÖ Accuracy:", accuracy_score(y_test, y_pred))
print("\nüßæ Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nüìÑ Classification Report:\n", classification_report(y_test, y_pred))

‚úÖ Accuracy: 0.7597765363128491

üßæ Confusion Matrix:
 [[83 22]
 [21 53]]

üìÑ Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.79      0.79       105
           1       0.71      0.72      0.71        74

    accuracy                           0.76       179
   macro avg       0.75      0.75      0.75       179
weighted avg       0.76      0.76      0.76       179

In [ ]:
# Summary

# üì¢ "Out of 179 total predictions, around 76% were correct. 
# That‚Äôs a decent accuracy, especially for a simple probabilistic model like Naive Bayes."

# Fairly balanced performance across both classes

# Some room for improvement, especially in distinguishing class 1